@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}
<div>
    <div class="bg-dark text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Welcome, Please Sign In!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-lg border-0">
                    <div class="card-body px-4">

                        <div class="row row-cols-1 row-cols-md-2 gy-lg-5 g-lg-5">

                            <div class="col order-md-last">
                                <div class="card me-lg-5 mt-lg-3 border-0">
                                    <div class="card-body">
                                        <form id="loginForm" asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
                                            <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                                            <div class="pe-lg-5 loginForm ">
                                                <h4 class="pb-3"> Returning Customer </h4>
                                                <div class="input-group mb-3">
                                                    @if (Model.UsernamesEnabled)
                                                    {

                                                        <span class="input-group-text form-icon"><i class="fas fa-user"></i></span>
                                                        <div class="form-floating form-input">
                                                            <input asp-for="Username" autofocus="autofocus" type="text" class="form-control" id="UserName" placeholder="User Name" />
                                                            <label asp-for="Username" asp-postfix=":">>User Name</label>
                                                            <span asp-validation-for="Username"></span>
                                                        </div>
                                                        <div class="error pt-1 visible">A simple alert (visible and invisible class added)</div>
                                                    }
                                                    else
                                                    {
                                                        <span class="input-group-text form-icon"><i class="fas fa-user"></i></span>
                                                        <div class="form-floating form-input">
                                                            <input asp-for="Email" autofocus="autofocus" type="text" class="form-control" id="email" placeholder="email" />
                                                            <label asp-for="Email" asp-postfix=":">Email</label>
                                                            <span asp-validation-for="Email"></span>
                                                        </div>
                                                        <div class="error pt-1 visible">A simple alert (visible and invisible class added)</div>
                                                    }

                                                    <!-- mb-3 Changed to mb-1 -->

                                                </div>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text form-icon"><i class="fas fa-unlock-alt"></i></span>
                                                    <div class="form-floating form-input">
                                                        <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password" />
                                                        <label asp-for="Password" asp-postfix=":">Password</label>
                                                        <span asp-validation-for="Password"></span>
                                                    </div>
                                                    <div class="error pt-1 invisible">A simple danger alert (visible and invisible class)</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-check">
                                                            <input asp-for="RememberMe" class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault" />
                                                            <label asp-for="RememberMe" class="form-check-label text-muted" for="flexCheckDefault">
                                                                Remember me
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col text-end">
                                                        <a class="text-danger f_14" asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>

                                                    </div>
                                                    <div style="display: none;">
                                                        <input type="text" id="returnUrl" asp-for="ReturnUrl" />
                                                    </div>
                                                    @if (Model.DisplayCaptcha)
                                                    {
                                                        <nop-captcha />
                                                    }
                                                </div>
                                                <div class="row my-3">
                                                    <div class="col text-center">

                                                        <button type="button" class="loginBtn px-5" value="@T("Account.Login.LoginButton")">Login</button>
                                                    </div>
                                                </div>

                                            </div>
                                            </form>
                                    </div>
                                </div>

                            </div>
                            <div class="col order-md-first">
                                <div class="card m-lg-5 border-0 border-end">
                                    <div class="card-body text-center ">
                                        <h4 class="pb-3">New Customer</h4>
                                        <p class="arial f_14 mb-4">By creating an account on our website, you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.</p>
                                        <p>
                                            <button class="registerBtn btn" onclick="location.href='@registerUrl'" value="@T("Account.Register")"> @T("Account.Register")</button>
                                            
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row ">
                            <div class="col mx-md-5 ">
                                <div class="p-3 bg-light border mt-3 mt-lg-0">
                                    <h5>About login / registration</h5>
                                    <p class="arial f_14 mb-0">
                                        Create an account so you can Shirt Yourself superfast, check on the status of your orders, and check in to review your previous orders.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*<div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body">
        <div class="customer-blocks">
            @if (Model.RegistrationType == UserRegistrationType.Disabled)
            {
                <div class="new-wrapper">
                    <div class="title">
                        @T("Account.Register")
                    </div>
                    <div class="text">
                        @T("Account.Register.Result.Disabled")
                    </div>
                </div>
            }
            else if (Model.CheckoutAsGuest)
            {
                <div class="new-wrapper checkout-as-guest-or-register-block">
                    <div class="title">
                        <strong>@T("Account.Login.CheckoutAsGuestOrRegister")</strong>
                    </div>
                    <div class="text">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                    </div>
                    <div class="buttons">
                        <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                        <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                    </div>
                </div>
            }
            else
            {
                <div class="new-wrapper register-block">
                    <div class="title">
                        <strong>@T("Account.Login.NewCustomer")</strong>
                    </div>
                    <div class="text">
                        @T("Account.Login.NewCustomerText")
                    </div>
                    <div class="buttons">
                        <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                    </div>
                </div>
            }
            <div class="returning-wrapper fieldset">
                <form id="loginForm" asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                    <div class="title">
                        <strong>@T("Account.Login.ReturningCustomer")</strong>
                    </div>
                    <div class="form-fields">

                        <div class="inputs">
                            
                        </div>
                        <div class="inputs reversed">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                            <span class="forgot-password">
                                <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                            </span>
                        </div>
                        <div style="display: none;">
                            <input type="text" id="returnUrl" asp-for="ReturnUrl" />
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <nop-captcha />
                        }
                    </div>
                    <div class="buttons">
                        <input class="button-1 login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                    </div>
                </form>
            </div>
        </div>
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div>
        @await Component.InvokeAsync("TopicBlock", new { systemName = "LoginRegistrationInfo" })
    </div>*@
</div>

<script asp-location="Footer">
    (() => {
        // By default the hash part of the url is not included in the ReturnUrl.  We need it for the browser to redirect.
        const url = new URL(window.location.href);
        const returnUrl = url.searchParams.get("returnUrl") || url.searchParams.get("ReturnUrl");
        const returnUrlInput = document.getElementById('returnUrl');
        const hash = encodeURI(window.location.hash);
        const action = `${returnUrl}${hash}`;
        returnUrlInput.value = action;
        // const loginForm = document.getElementById('loginForm');
        // loginForm.setAttribute('action', action);
    })();
</script>