@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    Layout = "_Root";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:url\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
    }
}

<script type="text/javascript">
    window.yba = window.yba || {};
    (yba => {
        yba.homeProducts = @Html.Raw(Json.Serialize(Model.HomeProducts));
        yba.kitBuilder = yba.kitBuilder || {};
        yba.imageVendor = yba.imageVendor || {};
        yba.currentProduct = yba.currentProduct || {}
        yba.currentProduct.price = @Html.Raw(Json.Serialize(Model.ProductPrice));
        yba.showBuyToolbar = true;
        yba.hub = null;
        yba.customer = {
            isAuthenticated: @Html.Raw(Model.CustomerIsAuthenticated.ToString().ToLower());
        }
        console.log(yba.customer);
        yba.sharing = {
            localVideoStream: null,
            localCanvasStream: null,
        };
        yba.kitBuilder.distributionId = "@(Model.KitBuilderDistributionId)".replace('&amp;', '&');

        const currentHash = window.location.hash;
        if (currentHash.indexOf('custom') < 0 && currentHash.indexOf('locker') < 0) {
            if (yba.homeProducts && yba.homeProducts.length > 0) {
                window.location.hash = yba.homeProducts[0].RendererUrl;
            }
        }

    })(yba || {});
</script>

<!--product breadcrumb-->
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterBreadcrumb, additionalData = Model })

@*<div class="product-details-page">
    <div class="page-body" id="productContainer">*@

        
<div class="container mb-4">
    @*<sy-home-product-header></sy-home-product-header>*@
    <div class="row">
        <div class="col-md-12" id="swara">
            <sy-gender-product></sy-gender-product>

        </div>
    </div>
</div>
       
    @*</div>
</div>*@
    <link href="~/css/product/bootstrap.css" rel="stylesheet" />
    <link href="~/css/product/offcanvas.css" rel="stylesheet" />
    <link href="~/css/product/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/product/swiper.css" rel="stylesheet" />
    <link href="~/css/product/custom.css" rel="stylesheet" />

    <link href="~/css/product/responsive.css" rel="stylesheet" />
    <script src="~/js/product_home/jquery-3.6.0.slim.min.js"></script>


    <script src="https://api.kitbuilder.co.uk/api/bootstrapper?@(Model.KitBuilderDistributionId)" defer></script>

    <script asp-location="Footer">
                document.addEventListener("KitBuilderLoaded", function () {
                    KitBuilder.init("#kitBuilder", {
                        webhookCartIntegrationCallback: function (data) {
                            var response = JSON.parse(data.content);
                            AjaxCart.addproducttocart_details(response.addToCartLink);
                        },

                        customCallbacks: {
                            webhookAddSingleItemToCartCallback: function (data) {
                                var response = JSON.parse(data.content);
                                AjaxCart.addproducttocart_details(response.addToCartLink);
                            },
                            webhookBuyNowCallback: function(data) {
                                var response = JSON.parse(data.content);
                                AjaxCart.custom_addproducttocart_details_redirect(response.addToCartLink, '@Url.RouteUrl("ShoppingCart")');
                            }
                        },

                        auth: {
                            genericJwtUrl: '/api/KitBuilderApi/auth',
                            logIn: function () { location.href = '/login' }, // We can use ?returnUrl='' if we know the returnUrl
                            logOut: function () { location.href = '/logout' }
                        },

                        currencySymbol: "$",
                        currencySymbolAfter: "",
                        currencyFraction: 2,
                        // currencyRoundToNearest: 100,
                        currencyRate: 1,
                        cartItemPricingMethod: "AggregatePricing" // or "SimpleTieredPricing" or "TieredPricing"
                    });
                });


    </script>
    <script src="~/js/product_home/bootstrap.bundle.min.js"></script>
    <script src="~/js/product_home/swiper.min.js"></script>
    <script src="~/js/product_home/offcanvas.js"></script>
    <script>
        $(document).ready(function () {
            // Swiper: Slider
            new Swiper('.swiper-container', {
                loop: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                slidesPerView: 5,
                paginationClickable: true,
                spaceBetween: 20,
                breakpoints: {
                    1920: {
                        slidesPerView: 4,
                        spaceBetween: 40
                    },
                    1280: {
                        slidesPerView: 4,
                        spaceBetween: 40
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 40
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 32
                    },
                    480: {
                        slidesPerView: 2,
                        spaceBetween: 32
                    }
                }
            });
        });
    </script>

